<nav class="flex h-16 items-center justify-between max-w-[80vw] mx-auto">
  <!-- Logo -->
  <%= link_to root_path, class: "flex items-center" do %>
    <%= image_tag "logo.svg", alt: "Hacker News", class: "h-10 w-auto" %>
  <% end %>
  <!-- Logout -->
  <% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, 
                  class: "hover:text-white transition-colors" %>
    <!-- Login -->
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "btn-login" %>
  <% end %>
</nav>
