<div class="max-w-[80vw] mx-auto py-2">
  <!-- Posts -->
  <% if @posts.any? %>
    <% @posts.each_with_index do |post, index| %>
      <%= render 'shared/post_item', post: post, rank: index + 1 %>
      <% unless index == @posts.count - 1 %>
        <hr class="border-secondary/10">
      <% end %>
    <% end %>
  <% else %>
    <div class="p-8 text-center text-secondary">
      <h3 class="text-lg font-medium mb-2">No stories yet</h3>
    </div>
  <% end %>
</div>
